body{
  background-color: gainsboro;
  margin: 3em;
}
#banner{
  text-align: center;
}

#search{
  text-align: center;
}

#display{
  text-align: center;
}

#header {
    border-radius: 25px;
    border-style: groove;
    background-color: mediumpurple;
    margin: 1em;
    padding: 1em;
}

#Hunter {
    border-radius: 25px;
    border-style: groove;
    background-color: lightblue;
    margin: 1em;
    padding: 1em;
}
#Warlock {
    border-radius: 25px;
    border-style: groove;
    background-color: lightgoldenrodyellow;
    margin: 1em;
    padding: 1em;
}
#Titan {
    border-radius: 25px;
    border-style: groove;
    background-color: rosybrown;
    margin: 1em;
    padding: 1em;
}

#emblem{
  float: left;
}

#basics{
  text-align: center;
}

#data_wrapper {
    text-align: center;
}

#data{
  margin: 1em;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
